---
import { Image } from "astro:assets";
import wild from "@/assets/wildlife.png";
import whales from "@/assets/whales.png";
import surf from "@/assets/surf.png";
import kayak from "@/assets/kayak.png";
import fishing from "@/assets/fishing.png";
import hiking from "@/assets/hiking.png";
import ride from "@/assets/ride-horse.png";
import crab from "@/assets/catch-crab.png";
import scuba from "@/assets/scuba-dive.png";
import refuge from "@/assets/animal-refuge.png";
---

<section id="sliderEs" class="splide" aria-labelledby="carousel-heading">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <div class="item">
          <Image src={wild} alt="hotel in Barra de Potosí Mexico wild life" />
          <div class="conte">
            <div class="bande">
              <h3>Avistamiento de Fauna</h3>
              <p>
                La laguna cercana ofrece avistamiento de aves y fauna salvaje,
                brindándote una experiencia única de conexión con la naturaleza.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="splide__slide">
        <div class="item">
          <Image
            src={whales}
            alt="hotel in Barra de Potosí Mexico Humpback Whale Season"
          />
          <div class="conte">
            <div class="bande">
              <h3>Temporada de Ballenas Jorobadas</h3>
              <p>
                Desde el 15 de diciembre hasta el 20 de marzo, disfruta del
                avistamiento de ballenas jorobadas en la playa cercana. Una
                experiencia inolvidable que solo encontrarás en esta región.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="splide__slide">
        <div class="item">
          <Image
            src={surf}
            alt="hotel in Barra de Potosí Mexico Humpback Whale Season"
          />
          <div class="conte">
            <div class="bande">
              <h3>Surf</h3>
              <p>
                Si te gusta el surf, las olas cercanas son perfectas para esta
                actividad. Ya seas un principiante o un surfista experimentado,
                encontrarás el lugar ideal para disfrutar del mar.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="splide__slide">
        <div class="item">
          <Image
            src={kayak}
            alt="hotel in Barra de Potosí Mexico Kayaking in the lagoon"
          />
          <div class="conte">
            <div class="bande">
              <h3>Kayak en la laguna</h3>
              <p>
                Explora las aguas tranquilas de la laguna en kayak, una
                actividad perfecta para toda la familia. Disfruta del paisaje
                mientras remas y descubre la fauna local desde una perspectiva
                única.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="splide__slide">
        <div class="item">
          <Image
            src={fishing}
            alt="hotel in Barra de Potosí Mexico Fishing in Barra de Potosí"
          />
          <div class="conte">
            <div class="bande">
              <h3>Pesca en Barra de Potosí</h3>
              <p>
                El lugar ideal para la pesca, ya sea desde la orilla o en una
                excursión en barco. Atrapa una variedad de peces mientras
                disfrutas de la calma y la belleza del entorno natural.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="splide__slide">
        <div class="item">
          <Image
            src={hiking}
            alt="hotel in Barra de Potosí Mexico Hiking in Barra de Potosí"
          />
          <div class="conte">
            <div class="bande">
              <h3>Senderismo en Barra de Potosí</h3>
              <p>
                Explora la naturaleza de Barra de potosí, recorre los senderos y
                sube el cerro del Guamilule para tener vistas impresionantes del
                mar.
              </p>
            </div>
          </div>
        </div>

        <li class="splide__slide">
          <div class="item">
            <Image
              src={ride}
              alt="hotel in Barra de Potosí Mexico Horseback Riding on the Beach"
            />
            <div class="conte">
              <div class="bande">
                <h3>Montar a Caballo en la Playa</h3>
                <p>
                  Vive una experiencia única al montar a caballo a lo largo de
                  la playa. Siente la brisa marina mientras cabalgas por la
                  orilla, una actividad relajante y memorable para todos los
                  niveles de experiencia.
                </p>
              </div>
            </div>
          </div>
        </li>

        <li class="splide__slide">
          <div class="item">
            <Image
              src={crab}
              alt="hotel in Barra de Potosí Mexico Blue Crab catching"
            />
            <div class="conte">
              <div class="bande">
                <h3>Captura de Jaibas</h3>
                <p>
                  Explora en busca de jaibas, vive la experiencia y disfruta de
                  una actividad divertida en la laguna.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="splide__slide">
          <div class="item">
            <Image
              src={scuba}
              alt="hotel in Barra de Potosí Mexico scuba diving"
            />
            <div class="conte">
              <div class="bande">
                <h3>Buceo</h3>
                <p>
                  Sumérgete en un mundo submarino lleno de maravillas en
                  nuestras aguas cristalinas. Bucea entre arrecifes coloridos,
                  descubre una variedad de vida marina fascinante, es una
                  experiencia única en Barra de Potosí!
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="splide__slide">
          <div class="item">
            <Image
              src={refuge}
              alt="hotel in Barra de Potosí Mexico scuba diving"
            />
            <div class="conte">
              <div class="bande">
                <h3>Refugio de animales</h3>
                <p>
                  learn more about local flora and fauna—a must-see experience.
                </p>
              </div>
            </div>
          </div>
        </li>
      </li>
    </ul>
  </div>

  <script>
    import Splide from "@splidejs/splide";
    import "@splidejs/splide/css";
    new Splide("#sliderEs", {
      perPage: 2,
      mediaQuery: "max",
      breakpoints: {
        640: {
          perPage: 1,
          gap: "0",
        },
      },
    }).mount();
  </script>

  <style lang="scss">
    @import "@/estilos/variables.scss";
    .item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      @include cel {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
      }

      img {
        grid-column: 1;
        grid-row: 1;
        @include cel {
          aspect-ratio: 1/1;
          grid-column: 2;
          width: 100%;
        }
      }

      .conte {
        grid-column: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        .bande {
          width: 70%;
          padding: $margen-min;
        }
        @include cel {
          grid-row: 2;
          .bande {
            width: 100%;
            text-align: center;
          }
        }
      }
      @include cel {
        max-height: 60vh;
        aspect-ratio: 1/2;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border: 1px solid white;
        }
      }
    }
  </style>
</section>
