---
import Anchor from "@/components/Anchor.astro";
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import steps from "@/assets/steps-from-the-sea.jpg";
// imagenes del cuarto
import observe from "@/assets/observe.png";
import enjoy from "@/assets/enjoy.png";
import feed from "@/assets/feed.png";
import rest from "@/assets/rest.png";
import cool from "@/assets/cool.png";
import sunset from "@/assets/sunset-barra-potosi.png";
import beach from "@/assets/beach-lagoon-potosi.png";
import proximidad from "@/assets/proximidad-ixtapa-zihuatanejo.png";
import aeropuerto from "@/assets/ixtapa-zihuatanejo-aeropuerto.png";
import { Image } from "astro:assets";
import Galeria from "@/components/Galeria.astro";
import SliderEs from "@/components/SliderEs.astro";
import Contacto from "@/components/Contacto.astro";
import Reservations from "@/components/Reservations.astro";
import Footer from "@/components/Footer.astro";
---

<Layout title="Boutique Hotel en Barra de Potosí México.">
  <main>
    <div class="grid contenido" id="heroe">
      <Hero lang="es" />
      <h1>El hospedaje ideal<br /> <span>en Barra de Potosí</span></h1>
      <p>
        Ubicado en Barra de Potosí, un pintoresco pueblo de pescadores, nuestro hotel boutique ofrece una experiencia única de <b>relajación y aventura</b>. Disfruta de la tranquilidad de la laguna, la emoción del surf en la playa y la comodidad de estar cerca de Ixtapa Zihuatanejo y su aeropuerto internacional.
      </p>
      <Anchor url="#headerRooms" clase="btn claro" texto="Habitaciones" />
    </div>

    <section id="steps" class="grid pantalla-izq">
      <div id="bandeja-steps">
        <div class="izq">
          <Image src={steps} alt="Steps from the sea" />
        </div>

        <div class="der">
          <div class="info">
            <h2>A pasos del mar y la laguna de Barra de Potosí</h2>
            <p>
               <b> Blue Crab Lagoon te ofrece</b> la oportunidad de degustar los mejores mariscos frescos en más de 20 restaurantes de la zona y disfrutar de la auténtica hospitalidad local.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="headerRooms" class="grid contenido">
      <h2>
        <span id="ocho">8 <span id="exclusive">Exclusivas</span></span> habitaciones 
        <br /> cerca del mar
      </h2>
      <div id="cuadricula">
        <div class="fila">
          <div class="conte">
            <div class="bande">
              <h3>Observa</h3>
              <p>
                Despierta con el sonido de las olas y disfruta desde tu ventana la vista del <b>maravilloso océano pacifico</b>.
              </p>
            </div>
          </div>
          <Image
            src={observe}
            alt="observe the ocean view hotel in Barra de Potosí Mexico"
          />
        </div>
        <div class="fila">
          <div class="conte">
            <div class="bande">
              <h3>Disfruta</h3>
              <p>
                <b>Relájate</b> mientras lees un libro, disfrutas de un gran café o tomas una siesta en tu hamaca.
              </p>
            </div>
          </div>
          <Image
            src={enjoy}
            alt="observe the ocean view hotel in Barra de Potosí Mexico"
          />
        </div>
        <div class="fila">
          <div class="conte">
            <div class="bande">
              <h3>Aliméntate</h3>
              <p>
                Nuestras habitaciones ofrecen una gran experiencia al contar con <b>cocinetas</b> equipadas. 
              </p>
            </div>
          </div>
          <Image
            src={feed}
            alt="observe the ocean view hotel in Barra de Potosí Mexico"
          />
        </div>
        <div class="fila">
          <div class="conte">
            <div class="bande">
              <h3>Descasa</h3>
              <p>
                Nos aseguramos de equipar cada habitación con <b>camas cómodas</b> que te den descanso, las vas apreciar después de un día de aventura en la naturaleza.
              </p>
            </div>
          </div>
          <Image
            src={rest}
            alt="observe the ocean view hotel in Barra de Potosí Mexico"
          />
        </div>
        <div class="fila">
          <div class="conte">
            <div class="bande">
              <h3>Frescura</h3>
              <p>
                No importa la época del año que nos visites, tu habitación será fresca y cómoda, todas nuestras habitaciones cuenta con <b>aire acondicionado</b>.
              </p>
            </div>
          </div>
          <Image
            src={cool}
            alt="observe the ocean view hotel in Barra de Potosí Mexico"
          />
        </div>
      </div>
    </section>
    <section id="galeria">
      <div id="carrusel"></div>
      <div class="grid pantalla-der">
        <h2>Descubre The Blue Crab Lagoon</h2>
        <Galeria />
      </div>
    </section>

    <section>
      <div class="grid contenido">
        <h2 class="centro">Servicios y Amenidades</h2>
        <div id="services">
          <div class="servicio">
            <img src="/icos/pool.svg" alt="pool and common areas" />
            <h3>Piscina y áreas comunes</h3>
            <p>
                Disfruta de nuestras instalaciones que incluyen una refrescante <b>piscina infinita y un jardín</b>. Relájate bajo el sol o disfruta de nuestro tejaban con sillones.
            </p>
          </div>
          <div class="servicio">
            <img src="/icos/air.svg" alt="Air-conditioned rooms" />
            <h3>Habitaciones climatizadas</h3>
            <p>
                Nuestras 8 habitaciones cuentas con <b>aire acondicionado </b>garantizando un temperatura optima para tu descanso.
            </p>
          </div>
          <div class="servicio">
            <img src="/icos/internet.svg" alt="Internet" />
            <h3>Internet</h3>
            <p>Contamos con <b>internet de banda ancha</b> en áreas comunes y habitaciones.</p>
          </div>
          <div class="servicio">
            <img src="/icos/terraces.svg" alt="Terraces" />
            <h3>Terrazas</h3>
            <p>
                Disfruta del atardecer desde la <b>terraza de tu habitación</b> y contempla como el sol se esconde lentamente en el océano pacifico.
            </p>
          </div>
          <div class="servicio">
            <img src="/icos/cocinas.svg" alt="Kitchenettes" />
            <h3>Cocinetas</h3>
            <p>
                Contamos con habitaciones que cuenta con <b>tarja, microondas y refrigerador</b>, esto te da la comodidad de gozar de un alimento rápido sin salir de tu habitación.
            </p>
          </div>
          <div class="servicio">
            <img src="/icos/water.svg" alt="hot water" />
            <h3>Agua caliente</h3>
            <p>
                Nuestros 8 cuartos tienen acceso a baños con <b>regaderas de agua caliente</b>, ten la comodidad de regular la temperatura de tu ducha en medio del paraíso.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="headerRooms2" class="grid contenido">
      <img src="/cocos.webp" id="cocos" alt="cocos" />
      <h2>Ubicación y entorno</h2>
      <div id="cuadricula">
        <div class="fila">
          <div class="conte">
            <div class="bande">
              <h3>Barra de Potosí</h3>
              <p>
                Situado en Barra de Potosí, un encantador pueblo cercano a Ixtapa Zihuatanejo donde encontraras <b>
                    pescadores y artesanos locales</b>, Blue Crab Lagoon te ofrece la oportunidad de degustar los mejores <b>mariscos frescos</b> en los restaurantes de la zona y disfrutar de la auténtica hospitalidad local.
              </p>
            </div>
          </div>
          <Image src={sunset} alt="Sunset in Barra de Potosí Mexico" />
        </div>
        <div class="fila">
          <div class="conte">
            <div class="bande">
              <h3>Playa y laguna</h3>
              <p>
                A solo unos metros de la playa y de la laguna, nuestro hotel ofrece fácil acceso a ambas áreas naturales. En temporada de lluvias, la barra que une el mar con la laguna es un <b>espectáculo natural</b> que no te puedes perder.
              </p>
            </div>
          </div>
          <Image
            src={beach}
            alt="Beach and lagoon hotel in Barra de Potosí Mexico"
          />
        </div>
        <div class="fila">
          <div class="conte">
            <div class="bande">
              <h3>Proximidad a Ixtapa Zihuatanejo</h3>
              <p>
                Estamos <b>a solo 15 minutos</b> en auto del puerto de Zihuatanejo e Ixtapa, brindándote la comodidad de explorar estas vibrantes localidades y sus playas.
              </p>
            </div>
          </div>
          <Image
            src={proximidad}
            alt="Near to Ixtapa Zihuatanejo hotel in Barra de Potosí Mexico"
          />
        </div>
        <div class="fila">
          <div class="conte">
            <div class="bande">
              <h3>Acceso al Aeropuerto Internacional</h3>
              <p>
                El aeropuerto internacional de Ixtapa Zihuatanejo está a <b>solo 10 minutos</b>, facilitando tu llegada y salida sin complicaciones.
              </p>
            </div>
          </div>
          <Image
            src={aeropuerto}
            alt=" hotel in Barra de Potosí Mexico near to the Ixtapa Zihuatanejo international airport"
          />
        </div>
      </div>
    </section>
    <section>
      <div class="grid pantalla-der">
        <h2>Actividades y aventura</h2>
        <SliderEs />
      </div>
    </section>
    <section class="grid pantalla-izq">
      <Contacto />
    </section>
    <section id="reservations" class="ultima-seccion">
      <Reservations />
    </section>
    <Footer />
  </main>
</Layout>
